<h1 data-controller="item">
  <%= @item.name %> (<%= @item.price %> 元)
 
  <a href="#" class="btn btn-danger" data-action="item#carrot">
   <% if @item.favorited_by(current_user) %>
      <i id="like" class="fas fa-heart" data-target="item.icon"></i>
    <% else %>
      <i id="like" class="far fa-heart" data-target="item.icon"></i>
    <% end %>
  </a>  
  <%= link_to "加入", add_to_cart_item_path(@item.id), class: 'btn btn-primary', method: 'post' %>
</h1>

<% #image_tag @item.cover.variant(resize) (resize_to_limit: [300, 300]), class: 'cover-image' if @item.cover.attached? %> 

<ul>
    <li>詳細: <%= @item.description %></li>
    <li>價錢: <%= @item.price %></li>
    <li>規格: <%= @item.spec %></li>
</ul>

<div data-controller="comment">
  <h3>留言</h3>
    
    <%= form_for(@comment, url: item_comments_path(@item), remote: true) do |form| %>
    <input type="hidden" id="item_id" value="<%= @item.id %>">
      <div class="form-group">
        <%= form.text_area :content, 
                 class: 'form-control', 
                 data: {target: 'comment.content', 
                        action: 'keyup->comment#check'} %>
                        <% #target用點，action用# %>
                        <% #當keyupe事件觸發去執行comment#check %>
      </div>
      <%= form.submit class: 'btn btn-success', disabled: true, data: {target: 'comment.submit'} %>
    <% end %>
  </div>      
  <hr>
  <div id="comments">
    <% @comments.each do |comment| %> 
      <%= render 'comments/comment', comment: comment %>   
    <% end %>
</div>

